* {
  padding: 0;
  margin: 0;
  font-family: monospace;
} 
body {
    height: 100vh;
}
.flex-row-outer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.colorBtn {
    background-color: skyblue;
    border:1px solid transparent;
  border-radius:9px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
    text-align: left;
    outline: none;
    line-height: 25px;
  padding: calc(.875rem - 3px) 20px calc(.875rem - 3px) 20px; 
  
}
span#hexCode {
  font-size:20px;
    color: #fff;
    display: block;
    padding: calc(.875rem - 3px) 60px calc(.875rem - 3px) 20px;
}