* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}

.neuro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #ebebeb;
}

.icon i {
  font-size: 4rem;
  border-radius: 100px;
}

.fa-facebook {
  color: #4267b2;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-linkedin-in {
  color: #0e76a8;
}

.fa-facebook-messenger {
  color: #0078ff;
}

.icons {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  width: 230px;
  box-shadow: -3px -3px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.2);
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
}

.icon {
  box-shadow: -3px -3px 5px white, 3px 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 100rem;
  padding: 0.4rem;
  transition: all 0.3s ease;
}

.icon:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.icon:active {
  transform: scale(1.02);
}