html,body{
  height:100%;
}
body{
  margin:0;
  padding:0;
  background:#001f64;
}
.calc{
  background:#BA55D3;
   box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff00de, 0 0 35px #ff00de;
  width:250px;
  height:400px;
  padding:10px 20px;
  
  border-radius:4px;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.screen{
  width:100%;
  height:50px;
  padding:20px;
  margin-bottom:20px;
  margin-top:10px;
  font-size:22px;
  background: #97E5D7;
   border:4px solid white;
  border-radius:4px;
  box-sizing:border-box;
}
.bn{
  width:55px;
  height:55px;
  margin:2px;
  padding:9px;
  font-size:20px;
  outline:none;
  transition:.5s;
  cursor:pointer;
  background:white;
}
.bn:hover{
  transform:scale(1.08);
  transition:.5s;
}